{% extends "template.html" %}
{% block content %}
<style>
    h2{font-family: monospace; font-size: 50px;}
</style>
    <div class="jumbo">
        <h2>SHOPNAME</h2>
        <br/>
        <p>click <a href="/check-in">here</a> to go to the check-in page</p>
        <br/>
        <p>click <a href="/search">here</a> to go to the search user page</p>
    </div>
{% endblock %}