<!DOCTYPE html>
    <html>
        <head>
            <title>Check in system</title>
        </head>
        <body>
            <div class="container">
            {% block content %}
            {% endblock %}
            </div>
        </body>
    </html>
